@model IteamViewData
@{

    ViewData["Title"] = "Product Details";
    Layout = "_HomeLayout";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<style>
    .slider {
        width: 350px;
        height: 200px;
        position: relative;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
    }
</style>

<section class="home-section">
    <div class="card mb-3">
        <div class="card-text text-center">
            Iteam Name :@Model.item.ItermName
        </div>
        <div class="justify-content-md-center">
            <div class="slider">
                @foreach (var itemA in Model.images)
                {

                    <div class="card-img">
                        <span class="img-responsive">
                            <img class="img-rounded img-responsive mySlides" role="img" src="data:image/jpg;base64,@System.Convert.ToBase64String(@itemA.ImageData)" width="200" height="200" asp-append-version="true" />
                        </span>

                    </div>
                }
            </div>
            &nbsp;
            &nbsp;
            <div>
                <button class="carousel-item-left btn" onclick="plusDivs(-1)">&#10094;</button>
                <button class="carousel-item-right btn" onclick="plusDivs(+1)">&#10095;</button>
            </div>
        </div>
        <div class="card-body">
            <h5> Price : @Model.item.Price</h5>

            <h5>
                Gander : <select asp-for="@Model.item.GanderId" readonly class="form-control" asp-items="ViewBag.GanderId"></select>
            </h5>
            <h5>
                Category : <select asp-for="@Model.item.CategoryId" readonly class="form-control" asp-items="ViewBag.CategoryId"></select>
            </h5>
        </div>
        <div class="card-footer">
            <a asp-action="Delete" asp-controller="Manage" class="btn btn-sm btn-danger" asp-route-Id="@Model.item.IteamId">Remove Product</a>
            <a asp-action="UpdateItem" asp-controller="Manage" class="btn btn-sm btn-success" asp-route-Id="@Model.item.IteamId">Update Product</a>
            <a asp-action="Upload" asp-controller="Manage" class="btn btn-sm btn-info" asp-route-Id="@Model.item.IteamId">Upload More Images</a>
            <a asp-action="Product" asp-controller="Manage" class="btn btn-sm btn-info">New Product</a>
        </div>

    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    No Of Item
                </th>
                <th>
                    Color
                </th>
                <th>
                    Size
                </th>
                <th>
       
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.iteamDetailModels)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfIteam)
                </td>
                <td>
                    <select asp-for="@item.SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                </td>
                <td>
                    <select asp-for="@item.ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                </td>
                <td>
                    <a asp-action="Update" class="btn btn-sm badge-light" asp-route-Id="@item.IteamDetailId" asp-route-id="@item.IteamId">Update</a>|
                    <a asp-action="Romove" class="btn btn-sm btn-danger" asp-route-Id="@item.IteamDetailId">Delete</a>
                </td>
            </tr>
            }
        </tbody>

    </table>
    <a asp-action="Detail" asp-controller="Manage" class="btn btn-sm btn-primary" asp-route-Id="@Model.item.IteamId">Add Product Details </a>


</section>
<script type="text/javascript">
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>