@model IEnumerable<IteamViewModel>
<link href="~/Product/css/styles.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<br />
<div class="container text-center py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body justify-content-center p-4">
                    <h3 class="mb-3">@ViewBag.Brand</h3>
                    <span class="mt-3 mb-4">
                        <img role="img" src="data:image/jpg;base64,@System.Convert.ToBase64String(ViewBag.Data)" asp-append-version="true"
                             class="rounded-circle img-fluid" style="width: 100px;" />
                    </span>
                    <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span><strong>@ViewBag.Slogan</strong></p>
                    <div>
                        @if (ViewBag.Follo == true)
                        {
                            <input type="hidden" id="Follow" name="@ViewBag.SupplierId" value="@ViewBag.SupplierId" />
                            <button type="button" id="FollowId" style="color:white;background-color:blue;border-radius:5%;" class="btn btn-outline-secondary btn-sm">Following</button>
                        }
                        else
                        {
                            <input type="hidden" id="Follow" name="@ViewBag.SupplierId" value="@ViewBag.SupplierId" />
                            <button type="button" id="FollowId" style="color:white;background-color:blue;border-radius:5%;" class="btn btn-primary btn-rounded btn-sm">Follow</button>
                        }
                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="mb-0 text-uppercase font-weight-bolder"><span class="mx-2 font-weight-bolder ">@ViewBag.Like </span><i class="fa fa-heart me-2"></i></p>
                        <p class="mb-0 text-uppercase font-weight-bolder"><span class="mx-2 font-weight-bolder">@ViewBag.View </span><i class="fa fa-eye ms-4 me-2"></i> </p>
                        <p class="mb-0 text-uppercase font-weight-bolder"> <span class="mx-2 font-weight-bolder">@ViewBag.Follow </span><i class="fa fa-poll me-2"></i></p>
                        <p class="mb-0 text-uppercase font-weight-bolder"><span class="mx-2 font-weight-bolder">@ViewBag.Post </span><i class="fa fa-folder-plus  ms-4 me-2"></i></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-xl-10">
            <span>
                <a style="text-decoration:none;" class="rounded" asp-area="" asp-controller="Product" asp-action="Product">
                    <img src="~/Images/Profile.jpg" class="card-img-top img-responsive" style="height:50px;width:50px;border-radius:50%;" />
                    All  Products
                </a>
            </span>
            <span>
                <a style="text-decoration:none;" class="rounded" asp-area="" asp-controller="Product" asp-action="Index">
                    <img src="~/Images/Profile.jpg" class="card-img-top img-responsive" style="height:50px;width:50px;border-radius:50%;" />
                    All  Brands
                </a>
            </span>
            <span>
                @if (ViewBag.Phone != null)
                {

                    <a href="https://api.whatsapp.com/send?phone='@ViewBag.Phone'&text=Hi" target="_blank">
                        <i class="fa fa-whatsapp-square"></i>
                    </a>
                }
            </span>
        </div>
    </div>
</div>
@if (ViewBag.Address1 != null)
{
    <div class="card  mb-3" style="max-width:25rem;">
        <div class="card-header">
           Address               
        </div>
       
   <div class="card-body">

       <div class="col  justify-content-center">

           <div>
          Addressline 1   :  @ViewBag.Address1
           </div>
           <hr />
           <div>
        Addressline 2    :   @ViewBag.Address2
           </div>
           <hr />
           <div>
           Suburb    @ViewBag.Suburb
           </div>
           <hr />
           <div> @ViewBag.City </div> <span> @ViewBag.PostCode</span>



       </div>
</div>
    </div>

}
<section class="section all-products" id="products">
    <hr class="my-4">

    @if (Model.Any())
    {
        <div class="product-center container">
            @foreach (var Data in Model)
            {

                <div class="product">
                    <div class="product-header">
                        <img class="img-responsive" role="img" src="data:image/jpg;base64,@System.Convert.ToBase64String(Data.IteamModel.ImageIteam)" asp-append-version="true" alt="@Data.IteamModel.ItermName" />
                        <ul class="icons">

                            <a asp-action="Detail" asp-controller="Product" asp-route-I="@true" asp-route-Id="@Data.IteamModel.IteamId">
                                <span>
                                    <i class="bx bx-heart">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16" fill="Red" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314
                              4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542
                              6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8
                              2.748zM8 15C-7.333 4.868 3.279-3.04 7.824
                              1.143c.06.055.119.112.176.171a3.12 3.12 0
                              0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                        </svg>

                                    </i>
                                </span>

                            </a>
                            <a asp-action="Detail" asp-controller="Product" asp-route-Id="@Data.IteamModel.IteamId">
                                <span>
                                    <i class="bx bx-shopping-bag">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">

                                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />

                                        </svg>
                                    </i>
                                </span>
                            </a>
                        </ul>
                    </div>
                    <div class="product-footer">
                        <div>
                            <a asp-action="Detail" asp-controller="Product" asp-route-Id="@Data.IteamModel.IteamId">
                                <h3>@Data.CategoryModel.CategoryName</h3>
                            </a>
                            <div class="rating">
                                <h5>@Data.IteamModel.ItermName</h5>
                            </div>
                        </div>
                        <div>
                            <h4 class="price">R@(Data.IteamModel.Price)</h4>&nbsp;&nbsp;<span class="text-muted">@Data.GanderModel.Gander</span>
                        </div>
                    </div>
                </div>

            }

        </div>
    }
    else
    {
        <div class="card text-center">
            No product yet to display
        </div>
    }
</section>

<script src="~/Product/js/index.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#FollowId').click(function () {

            var $this = $(this);
            if ($this.html() == "Follow") {
                $this.html('Following');
            }
            else {
                $this.html('Follow');
            }
            var ddlsourse = "#Follow";
            $.getJSON("/Product/Follow", { id: $(ddlsourse).val() }, function (data) {
                $("#Follow").empty();
            });
        });
    });

</script>